.MeetingRow {
	display: flex;
	width: 40%;
	align-items: center;
	justify-content: center;
	margin: 0 30%;
}

.MeetingsColumn {
	flex: 50%;
}

#Meet1 {
	margin-right: 5%;
}

.MeetDay > h3 {
	font-size: 20px;
	text-decoration: none;
	color: var(--yellow);
	font-weight: normal;
}

@media only screen and (max-width: 768px) {
	.MeetDay > h3 {
		font-size: 20px;
	}
}
/* 
@media only screen and (min-width: 768px) {
	#Meet1 {
		margin-left: 25%;
	}
	#Meet3 {
		margin-right: 25%;
	}
} */
